# Server
PORT=3001
NODE_ENV=development

# Database
DATABASE_URL=postgres://gbb:gbbsecret@localhost:5432/gbb

# MinIO
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=gbb-files

# Better Auth
BETTER_AUTH_SECRET=change_me_to_a_random_string
BETTER_AUTH_URL=http://localhost:3001

# Google Sheets Sync
GOOGLE_SERVICE_ACCOUNT_KEY_PATH=
GOOGLE_SHEETS_DONATUR_ID=1xZHfR__YMjDoDJfj6CMadAd_lZaTUrIKvegc0m9akZU
GOOGLE_SHEETS_PENDAFTAR_ID=19J15QKpws5oGOBAnrwXTRZ1wpMUWbc-DnpJI0J9hFvQ
GOOGLE_SHEETS_FEEDBACK_ID=1ALz9p0-adxYz5cAMladsyPH5702xnF2pcF34VqJ32JU

# Resend (Email)
RESEND_API_KEY=re_xxxxx
